
.DS_Store
.idea/
.ipynb_checkpoints/
/.ipynb_checkpoints/*
/Automated/*.html
Automated/*.html

untitled folder/

example_LiveCOVID19_data.ipynb
COVID19_notebook.ipynb
COVID19_notebook-Copy1.ipynb
COVID19_notebook-Copy2.ipynb
rCOVID19_notebook-Copy1.ipynb
rCOVID19_notebook-Copy2.ipynb
Medium.ipynb
Histograms for curve.ipynb

plotly_to_html.py

2020-04-18 11.37.02 am.jpg